.app.dark {
    --bg-color: #16167d;
    --inverted-bg-color: #e7e7ea;
    --primary-color: #0c990c;
    --secondary-color: #11d711;
    --inverted-primary-color: #0c2da9;
    --inverted-secondary-color: #0036ff;
}
