.app.light {
    --bg-color: #e7e7ea;
    --inverted-bg-color: #16167d;
    --primary-color: #0c2da9;
    --secondary-color: #0a1d62;
    --inverted-primary-color: #0c990c;
    --inverted-secondary-color: #11d711;
}
